<header>
  <div class="logo-box">
    <img src="assets/img/logo.png" alt="">
  </div>
</header>
<div class="main-home-wrapper">
  <div class="side-bar">
    <div class="cate-box">

      <p> <img src="assets/img/hexagon.png" alt="" > <span>Broken Analytics Dashboard</span></p>
    </div>
    <ul class="subcat-list">
      <li>
        <a href="">
          <i class="fa fa-circle"></i> <span>Achivement System</span>
        </a>
      </li>

      <li>
        <a href="">
          <i class="fa fa-circle"></i> <span>Achivement System</span>
        </a>
      </li>

      <li>
        <a href="">
          <i class="fa fa-circle"></i> <span>Achivement System</span>
        </a>
      </li>

      <br class="hide-xs">

      <li>
        <a href="">
          <i class="fa fa-circle" style="color: purple;"></i> <span>Achivement System</span>
        </a>
      </li>

      <li>
        <a href="">
          <i class="fa fa-circle" style="color: purple;"></i> <span>Achivement System</span>
        </a>
      </li>


    </ul>
    <div class="cate2-box">

      <p> <img src="assets/img/hexagon.png" alt="" width="20"> <span>Trade Hub</span></p>
    </div>

    <div class="triangle-box">

      <p> <img src="assets/img/triangle.png" alt="" width="20"> <span>Broker's Trading Plateform</span></p>
    </div>


    <ul class="subcat2-list">
      <li>
        <a href="">
          <i class="fa fa-circle" style="color: green;"></i> <span>All Order Advisore</span>
        </a>
      </li>

      <li>
        <a href="">
          <i class="fa fa-circle" style="color: green;"></i> <span>Achivement System</span>
        </a>
      </li>



      <br class="hide-xs">

      <li>
        <a href="">
          <i class="fa fa-circle" style="color: purple;"></i> <span>Achivement System</span>
        </a>
      </li>




    </ul>

  </div>
  <div class="right-bar">

    <div class="slick-container dots-n-arrow">
      <div class="slide">
        <figure style="background-image: url('assets/img/banner1.jpg');"></figure>
      </div>
      <div class="slide">
        <figure style="background-image: url('assets/img/banner1.jpg');"></figure>
      </div>
    </div>
  </div>
</div>
